Flask==2.0.1
Authlib==0.15.5
cffi==1.15.0
click==8.0.3
cryptography==35.0.0
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
pycparser==2.20
python-dotenv==0.19.1
Werkzeug==2.0.2
gunicorn==20.1.0
requests

